
 

<div class="container show-product">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive product-img") %>
      <div class="caption">
        <h3><%= @product.name%></h3>
        <p><%= @product.colour%></p>
        <p><%= @product.description%></p>
        <strong><%= @product.price %></strong><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        <p class="actions" ><%= link_to 'Edit', edit_product_path(@product) %> <%= link_to 'Back', products_path %>
        </p>

        <p>The hieghest rating for this product is <%= @product.highest_rating_comment.try(:rating) %> /5 with comment <%= @product.highest_rating_comment.try(:body) %></p>
        <p>The lowest rating for this product is <%= @product.lowest_rating_comment.try(:rating) %> /5 with comment <%= @product.lowest_rating_comment.try(:body) %></p>
        <p>The comments for this product in desc order<%= Comment.rating_desc.pluck(:rating)%></p>
        <p>The comments for this product in asc order<%= Comment.rating_asc.pluck(:rating)%></p>

      </div>
    
    </div>
         
</div>
 
