
 

<div class="container show-product">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive product-img") %>
      <div class="caption">
        <h3><%= @product.name%></h3>
        <p><%= @product.colour%></p>
        <p><%= @product.description%></p>
        <strong><%= @product.price %></strong><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        <p class="actions" ><%= link_to 'Edit', edit_product_path(@product) %> <%= link_to 'Back', products_path %>
        </p>
      </div>

    </div>
    <%= render 'new_comment' %>
    <%= render 'comments' %>

<%= will_paginate @comments %>
</div>
