
<div class="container show-product">
  <div class="row" data-product-id="<%= @product.id %>">
    <% cache @product do %>

    <div class="col-md-6 col-xs-12 product-image">
      <%= image_tag(@product.image_url, class: "img-responsive product-img img-zoom", data_zoom_image: "@product.image_url") %>
    </div>
    <div class="col-md-6 col-xs-12 product-details">
      <h6 class="views-number">  
         Views:
         <span class="badge"><%= @product.views %></span>
      </h6>
      <div class="caption">
        <h3><%= @product.name%></h3>
        <p><%= @product.colour%></p>
        <p><%= @product.description%></p>
        <strong><%= @product.price %></strong><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        <p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        <% end %>

        <%= form_with(url: '/payments/create', remote: true) do |form| %>
           <%= hidden_field_tag(:product_id, @product.id) %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>

        <% if signed_in? && current_user.admin? %>
          <p class="actions" ><%= link_to 'Edit', edit_product_path(@product) %>
          </p>
        <% end %>
      </div>
      <%= render 'new_comment' %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
      <%= will_paginate @comments %>
    </div>
  </div>
</div>
